.admin__login {
    margin: auto;
    width: 100%;
}

.admin__login__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    justify-content: space-evenly;
    margin: 10rem auto;
    max-width: 320px;
    width: 100%;
}

.admin__login__form-input {
    border: none;
    border-bottom: 1px solid $primary;
    box-shadow: none;
    background: transparent;
    width: 100%;
}

.admin__login__form-button {
    @include buttons;
    padding: 1.5rem;
    width: 100%;
}