//Responsive Dashboard
@media (min-width: $tablet-breakpoint) {
    .dashboard {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-left: 1px solid black;
        border-right: 1px solid black;
        margin: auto;
        max-width: 2000px;
        padding-top: 3rem;
    }
    .filters {
        border-right: 1px solid black;
        max-width: 400px;
        min-width: 400px;
        width: 40%;
    }
    .dashboard__tree-list {
        width: 100%;
    }
}