.filters {
    margin-top: 3rem;
    min-height: 100vh;
}

.filters__description {
    text-align: center;
    margin: 0 auto 2rem;
    padding: 0 .4rem;
}

.filters__form-titles {
    margin: 1rem auto 3rem;
    text-align: center;
}

.is-names__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 0 2rem;
    width: 100%;
}

.filters__names-input {
    background: $background;
    border: none;
    border-bottom: 2px solid $primary;
    font-size: 1.5rem;
    margin: 1rem auto;
    width: 90%;
    padding: 1rem .5rem;
    &::placeholder {
        font-size: 1.5rem;
        color: black;
    }
}

.filters__input__container {
    display:flex;
    justify-content: space-between;
    flex-flow: wrap;
    text-align: center;
    width: 100%;
}

.filters__form {
    width: 100%;
}

.styled-select {
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 1.3rem 0 .3rem;
    cursor: pointer;
    transition: all .2s ease-out;
    h2 {
        margin: 0;
    }
    &:hover {
        color: lighten($secondary, 50%);
        background: lighten($primary, 20%);
    }
}

.styled-select.active {
    color: lighten($secondary, 50%);
    background: lighten($primary, 10%);
}

input[type="radio"] {
    display: none;
}

.filters__input {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    & > * {
        text-align: center;
        width: 50%;
        padding: 1rem;
    }
}

.filters__input.active {
    background: lighten($primary, 25%);
    max-height: 300px;
}

.filters__input input[type="radio"]:checked + label {
    color: white;
    background: $primary !important;
}

label  {
    color: white;
    display: block;
    cursor: pointer;
    padding: 1rem;
    transition: .4s all ease;
    &:hover {
        color: white;    
        background: $primary;
    }
}

.filter { 
    padding: 0;
}


.reset__button {
    @include buttons;
    padding: 1rem;
    margin:auto;
    width: 100%;
}

.chevron {
    margin-top: .4rem;
    transition: transform .32s linear;
}

.chevron.active {
    transform: rotate(180deg);
}





